<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead><p>교수 세부정보입니다.</p></thead>
            <thead>
            <tr>
                <th>Prof_ID</th>
                <th>Major_ID</th>
                <th>전공</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="profDetails : ${profDetails}">
                    <td th:text="${profDetails.getProf_ID}">
                    <td th:text="${profDetails.getMajor_ID()}">
                    <td th:text="${profDetails.getMajor_name()}"></td>
                    <td th:text="${profDetails.getProf_name()}"></td>
                </tr>
            </td>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>

