<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--Discord Log local-->
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <!--Discord Log server-->
    <springProfile name="dev">
        <property resource="application-dev.yml"/>
        <springProperty name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-url"/>
        <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
            <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```%ex{full}```</pattern>
            </layout>
            <username>🚨 Stage 서버 에러 🚨</username>
            <avatarUrl>https://velog.velcdn.com/images/heelieben/post/675309bf-a0a3-4443-8ced-8a55ce40ce08/image.png</avatarUrl>
            <tts>false</tts>
        </appender>

        <!--Consol appender 설정-->
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d %-5level %logger{35} - %msg%n</Pattern>
            </encoder>
        </appender>

        <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="DISCORD" />
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>

        <!--로그 레벨 지정-->
        <root level="INFO">
            <appender-ref ref="ASYNC_DISCORD"/>
            <appender-ref ref="Console"/>
        </root>
    </springProfile>
</configuration>